export(
  ## bayes.distribution.R ##
  bayes.normal,
  bayes.t,
  bayes.nonInformative,
  bayes.beta,
  bayes.gamma,
  bayes.normal.mixture,
  bayes.t.mixture,
  bayes.uniformShrinkage,
  bayes.duMouchel,
  bayes.nonInfoPower,
  bayes.massPoint,
  bayes.wishart,
  bayes.invWishart,
  bayes.invChisq,

  ## blm.R ##
  blm,
  fit.bayeslm,
  blm.likelihood,
  blm.prior,
  blm.sampler,

  ## initPoints.blm.R ##
  init.points.blm,
  generateInitPoints.blm,

  ## posterior.R ##
  posterior
)


## S3 methods for class fbdstn ##

S3method(print, fbdstn)


## S3 methods for class posterior ##

S3method(print, posterior)
S3method(summary, posterior)
S3method(print, summary.posterior)


